<footer>
  <p>Designed by Aria Huang </p>
  <p>Copyright © 2024. All Rights Reserved.</p>
  <p class="ll"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254826874'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1254826874%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></p>
</footer>
<script type="text/javascript" src="/public/js/jquery.min.js"></script>
<script type="text/javascript" src="/public/js/slider.js"></script>
<script type="text/javascript" src="/public/js/head.js"></script>
</body>
</html>
