<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Every day is a step forward.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/public/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/css/font-awesome-ie7.scss">
  <link rel="stylesheet" href="/public/css/base.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="stylesheet" href="/public/css/pygments.css">
</head>
<body>
   <header>
        <p>IrisHuang----业精于勤，行成于思</p>
        <ul class="active">
        <li><a href="/index.html">HOME</a></li>
          <li><a href="/write">Writing</a></li>
        <li><a href="/book">Reading</a></li>
        <li><a href="/about">About</a></li>
        </ul>
        <div class="menu">
        <img src="/public/img/menu-icon.png"/>
              <ul>
                <a href="/index.html"><li>HOme</li></a>
                <a href="/write"><li>Writing</li></a>
                <a href="/book"><li>Reading</li></a>
                <a href="/about"><li>About</li></a>
             </ul>
        </div>
   </header>
