<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>Every day is a step forward.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/public/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/css/font-awesome-ie7.scss">
  <link rel="stylesheet" href="/public/css/base.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="stylesheet" href="/public/css/pygments.css">
</head>
<body>
   <header>
        <p>IrisHuang----业精于勤，行成于思</p>
        <ul class="active">
        <li><a href="/index.html">主页</a></li>
        <li><a href="/book">在看</a></li>
        <li><a href="/write">在写</a></li>
        <li><a href="/about">关于</a></li>
        </ul>
        <div class="menu">
        <img src="/public/img/menu-icon.png"/>
              <ul>
                 <a href="/index.html"><li>主页</li></a>
                <a href="/book"><li>在看</li></a>
                <a href="/write"><li>在写</li></a>
                <a href="/about"><li>关于</li></a>
             </ul>
        </div>
   </header>
