<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Every day is a step forward.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/public/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/css/font-awesome-ie7.scss">
  <link rel="stylesheet" href="/public/css/base.css">
  <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
   <header class="logo">
        <h1>
          <img src="" width="150" height="92">
        </h1>
   </header>
