
{% include header.html %}
       <div class="about-container">
             <div class="left">
                   <img src="/public/img/about.jpg"/>
             </div>
             <div class="right">
                       <p>Just like everyone,I'm a simple girl.always believe that if I try my best,I will get all I want to have.Every every time,I ask to myself,what kind of person you'd like to be,and the answer from my inner heart is always "be yourself", no one can change that.I want to be closer to my dream!I hope every day is different!</p>
             </div>
       </div>
  {% include footer.html %}
