
  {% include header.html %}
       <div class="book-container">
            <ul>
               {% for post in site.posts %}
              {% if post.category == 'book' %}
                <li><a href="{{ post.url }}">
                <div class="title">
                  　　{{ post.title }}
                </div>
                <img src="/public/img/{{ post.image }}" alt="">
                <span></span>
                <div class="date"> {{ post.date | date_to_string }}</div>
                </a></li>
               {% endif %}
                {% endfor %}
            </ul>
       </div>
  {% include footer.html %}
