 {% include header.html %}
  <div class="container">
         <div class="mid">
                <div class="left">
                <h2>Hi, I'm Yuanzhen</h2>
                <p>user experiences, I've honed my skills in this powerful framework, utilizing its modular architecture, dependency injection, and advanced features like lazy loading and AOT compilation to create scalable, high-performance apps.

On the backend, I've mastered both the .NET and Node.js ecosystems. With .NET (C#, ASP.NET), I've built robust, scalable solutions for enterprise environments. In Node.js (Express), I've developed lightning-fast APIs and server-side applications. My full-stack prowess allows me to seamlessly bridge frontend and backend, ensuring optimal performance and seamless integration.

But there's more to me than code! I'm an avid reader and writer, immersing myself in diverse literature to broaden my perspectives and inform my work. Writing is my creative outlet, and I delight in sharing my tech expertise through tutorials, opinions, and thought leadership articles, fostering a community of knowledge exchange. My love for learning and creativity drives me to transform ideas into compelling digital products, be it web apps, design solutions, or engaging content.

In essence, I'm [Your Name]: an Angular expert with 5 years under my belt, a .NET and Node.js full-stack pro, a wordsmith, and a passionate creator. If you're seeking a seasoned engineer to elevate your project, a skilled writer to contribute compelling content, or a collaborative innovator to bring your vision to life across the Angular/.NET/Node.js stack, let's connect and harness the power of technology together!

</p>
                <div class="arrow arrow1">
                </div>
                <div class="arrow arrow2">
                </div>
                </div>

                <div class="right" id="right">
                        <ul id="slider" class="slider">
			<li><a href="" target="_blank"><img  src="/public/img/2015060583028529.jpg" alt=""></a></li>
			<li><a href="" target="_blank"><img src="/public/img/2015062050056109.jpg" alt=""></a></li>
			<li><a href="" target="_blank"><img  src="/public/img/2015060782423841.png" alt=""></a></li>
			<li><a href="" target="_blank"><img  src="/public/img/2013070950768013.jpg" alt=""></a></li>
		</ul><ul id="bannerCtrl" class="num">
			<li class="on">1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
		 </ul>
         </div>

  </div>
  <div class="tour-list">
       <div class="one">
               <img src="/public/img/img1.jpg"/>
               <p>Every time I find the beautiful scenery,the natural sights,the corner that most people are used to ignoring,I will feel happy,enjoyable and satisfied.I want to seek more and enjoy more.I hope that one day,when I go through the corner of a street, I coming across you..</p>
       </div>
       <ul>
           <li class="first">
           <img src="/public/img/yh.jpg" alt="">
           <div class="desc">
                 <h2>武汉大学樱花</h2>
                 <span><a href="http://sunshinewyf.github.io/blog/2015/02/14/wuda-tour">Read more</a></span>
           </div>
           </li>
           <li>
           <img src="/public/img/cjdq.jpg" alt="">
           <div class="desc">
               <h2>武汉长江大桥</h2>
                <span><a href="http://sunshinewyf.github.io/blog/2014/10/14/changjiang-tour">Read more</a></span>
           </div>
           </li>
           <li>
           <img src="/public/img/gqt.jpg" alt="">
            <div class="desc">
　　　　<h2>古琴台</h2>
                <span><a href="http://sunshinewyf.github.io/blog/2015/10/02/guqintai-tour">Read more</a></span>
            </div>
           </li>
       </ul>
  
  </div>
</div>
{% include footer.html %}

 <script type="text/javascript">
$(function() {
	var bannerSlider = new Slider($('#right'), {
		time: 5000,
		delay: 400,
		event: 'hover',
		auto: true,
		mode: 'fade',
		controller: $('#bannerCtrl'),
		activeControllerCls: 'on'
	});
})
</script>
